<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.store.mapper.UserMapper">
    <resultMap id="userMap" type="User">
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="createUser" column="create_user"/>
        <result property="modifiedTime" column="modified_time"/>
        <result property="modifiedUser" column="modified_user"/>
    </resultMap>
    <!--添加用户信息-->
    <!--int saveUser(User user);-->
    <insert id="saveUser" useGeneratedKeys="true" keyProperty="id" parameterType="User">
        INSERT INTO tedu_store.t_user(id, username, password, email, phone, create_user, create_time )
            VALUE (NULL ,#{username}, #{password}, #{email}, #{phone}, #{createUser} , #{createTime})
    </insert>

    <!--根据用户名字查询用户信息-->
    <!--User getUserByName(String username)-->
    <select id="getUserByName" parameterType="string" resultMap="userMap">
        SELECT id, username, password, email, phone, image, gender, create_time, modified_time
        FROM tedu_store.t_user WHERE username = #{username}
    </select>
    <select id="selectByEmail" parameterType="string" resultType="java.lang.Integer">
        SELECT count(email) FROM tedu_store.t_user WHERE email = #{email}
    </select>
    <select id="selectByPhone" parameterType="string" resultType="java.lang.Integer">
        SELECT count(phone) FROM tedu_store.t_user WHERE phone = #{phone}
    </select>
</mapper>